<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
    window.currentChannels = <%= render(
      "api/channels/channels.json.jbuilder",
      channels: Channel.all
    ).html_safe %>
    window.currentDMs = <%= render(
      "api/direct_messages/direct_messages.json.jbuilder",
      direct_messages: User.second.direct_messages
    ).html_safe %>
  </script>
<% end %>
<script type="text/javascript">
    window.currentChannels = <%= render(
      "api/channels/channels.json.jbuilder",
      channels: Channel.all
    ).html_safe %>
</script>
<main id="root"></main>