.chatroom-container{
  background-color: rgb(58, 56, 59);
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.message-list{
  overflow: auto;
  color: white;
  justify-content: flex-end;
  li{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    word-break: break-word;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .message-avatar{
      display: flex;
      align-items: center;
    }
    .avatar{
      height: 30px;
      border-radius: 5px;
      width: 30px;
    }

    .message-container{
      padding-left: 15px;
      // max-width: calc(100vh - 455px);
    }

    .name-and-date{
      display: flex;
      align-items: flex-end;
      padding-bottom: 10px;
      padding-top: 10px;
      h1 {
        // border-top: 1px solid gray;
        padding-right: 6px;
        font-weight: 700;
      }

      h5{
        font-size: 10px;
      }
    }
    p{
      padding: 3px;
      span{
        font-size: 11px;
        padding: 5px;
        color: #c0a4d2;
      }
    }
    .message-buttons{
      display: flex;
      .delete-button{
        display: none;
      }
      .edit-button{
        display: none;
      }
    }
  
  }
  .first {
    border-top: 1px solid gray;
    margin-top: 10px;
  }

  li:hover{
    background-color: gray;
    .delete-button{
      display: block;
      cursor: pointer;
      color: #ff5a7f;
      font-size: 18px;
      font-style: italic;
      padding: 3px;
    }
    .edit-button{
      display: block;
      cursor: pointer;
      color: #c0a4d2;
      font-size: 18px;
      font-style: italic;
      padding: 3px;
      padding-right: 7px;
    }
    .message-edit-form{
      background-color: grey;
    }
  }
  
}

.message-edit-form{
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-top: 15px;
  background-color: rgb(58, 56, 59);
  input{
    width: calc(55vw);
    grid-column: 2 / 2;
    color: white;
    height: 25px;
    font-size: 15px;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid gray;
    background-color: rgb(58, 56, 59)
  }
  div{
    padding-top: 5px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    button{
      width: 70px;
      border: 1px solid #565656;
      height: 30px;
      background-color: #302735;
      color: white;
      border-radius: 5px;
    }
    button:hover{
      background-color: rgb(135, 82, 151);
    }
  }
}

@media (min-width: 1300px) and (max-width: 1520px){
  .message-edit-form{
    input{
      width: calc(60vw);
    }
  }
}

@media (min-width: 1520px) and (max-width: 1750px){
  .message-edit-form{
    input{
      width: calc(63vw);
    }
  }
}

@media (min-width: 1750px){
  .message-edit-form{
    input{
      width: calc(65vw);
    }
  }
}

.message-form{
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 25px;
  padding-top: 15px;
  background-color: rgb(58, 56, 59);
  display: grid;
  grid-template-columns: 5px 1fr 5px;
  grid-row: 2/2;
  input {
    grid-column: 2 / 2;
    color: white;
    height: 25px;
    font-size: 15px;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid gray;
    background-color: rgb(58, 56, 59)
  }

  button{
    border: 0;
  }
  .submit{
    position: relative;
    right: 35px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: rgb(58, 56, 59);

    svg {
      font-size: 20px;
      color: white;
      cursor: pointer;
    }
  }
  .submit:hover{
    background-color: gray;
  }
}